@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Unica+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Clash Display-Regular';
  src: url('/ClashDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Display';
  src: url('/ClashDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
*{
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent; /* For iOS */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* For Android */
  tap-highlight-color: transparent; 
}
body{
  background: #150E28;
}
.nav-blur{
  backdrop-filter: blur(30px);
  border: 0.5px solid rgba(255, 255, 255, 0.04);
}
.hover-color{
  color: linear-gradient(90deg, #903AFF 3.08%, #FF26B9 93.85%);
  background-clip: text;
}
.register-hover::before{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: linear-gradient(to right, #9A39FF, #FF29B9);
  z-index: -1;
}
.clash-display-bold{
  font-family: 'Clash Display', sans-serif;
}
.clash-display{
  font-family: 'Clash Display-Regular', sans-serif;
}
.Unica{
  font-family: 'Unica One', cursive;
}
.Inter{
  font-family: 'Inter', sans-serif;
}
.line-height{
  line-height: 21.58px;
}
.lh-63{
  line-height: 63.84px;
}
.lh-26{
  line-height: 26.6px;
}
.lh-20{
  line-height: 20px;
}
.input-shadow{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.api-success {
  background-color: #4CAF50;
  color: #4CAF50;
  transition: background-color 0.3s ease-in-out;
}
.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}
.register-button{
  border-radius: 4px;
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}
.timeline-circle{
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
}
.hero-flare{
  background-blend-mode: hard-light;
}
.policy-image-bg{
  background-image: url('/policy-image-bg.png');
  width: 70%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  background-position: center;
}